.login-form {
    margin-top: 25px;
}

.page-form {
    max-width: 480px;
}

.form-group {
    max-width: 400px;
}

.content-section {
    max-width: 100px;
}

.test1 {
    max-width: 300px;
    max-height: 300px;
}